div.container {
  // height: 200px;
  width: 400px;
  height: 60%;
  background-color: white;
  color: rgb(188, 7, 188);
  // border: 1px solid green;
  opacity: 20;
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  > h1 {
    color: rgb(188, 7, 188);
    margin: 0.7rem;
  }
  > h4 {
    color: rgb(188, 7, 188);
  }
  > form {
    // padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    > input {
      padding: 0.6rem;
      width: 60%;
      margin: 0.6rem;
      border-radius: 10px;
      outline: none;
      border: none;
      // border-width: 0.1px;
      box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 0px 8px;
      // border: none;
    }
  }
  > button {
    padding: 0.4rem;
    width: 4rem;
    background-color: rgb(188, 7, 188);
    color: white;
    border-radius: 10px;
    border: none;
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  }
}
